@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background: #0f141c;
}
.forLargePage{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.forSmallPage{
    display: none;
    height: 100vh;
}   

@media screen and (max-height: 815px) {
    .floatDiv {
        top: 252px !important;
    }

}

@media screen and (max-height: 775px) {
    .floatDiv {
        top: 205px !important;
    }
}

@media screen and (max-height: 640px) {
    .floatDiv {
        top: 153px !important;
    }

    .rightSide {
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 384px) {
    .year {
        font-size: 7.5rem;

        .fr {
            left: 109px;
            top: -180px;
        }
    }

    .leftSide {
        font-size: 4.2rem;
    }

    .rightSide {
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 360px) {
    .leftSide {
        font-size: 4rem;
    }

    .floatDiv {
        right: 0.5rem !important;
    }
}

@media screen and (max-width: 345px) {

    .year {
        font-size: 6.5rem;

        .fr {
            left: 95px;
            top: -155px;
        }
    }
    .leftSide {
        font-size: 3.3rem;
        line-height: 30px;
    }

    .rightSide {
        font-size: 3rem;
        padding-bottom: 0.5rem;
        line-height: 30px;
    }
}

@media screen and (max-width: 330px) {
    .name{
        width: 11rem;
    }
    .message{
        width: 11rem
    }

    .connectwithme{
        font-size: 16px;
    }
}
@media screen and (max-width: 310px) {
    .name{
        width: 10rem;
    }
    .message{
        width: 10rem
    }

    .connectwithme{
        font-size: 14px;
    }
}

@media screen and (max-height: 610px) {
    .name{
        height: 2.3rem;
    }
    .message{
        height: 3.5rem;
    }   
}

@media screen and (max-height: 580px) {
    .year{
        font-size: 6rem;
    }

    .yearbox{
        padding-top: 0px;
    }

    .floatDiv{
        top: 120px !important;
    }
    
    .fr{
        left: 88px !important;
        top: -144px !important;
    }
}


@media screen and (max-width: 305px) {
    .mainDiv{
        display: none;
    }
    .forSmallPage{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-height: 545px) {
    .mainDiv{
        display: none;
    }
    .forSmallPage{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}